<div class="auto-clickers">
<ul class="auto-clickers__list">
  <li *ngFor="let clicker of clickers" 
      (click)="buyClicker(clicker)" 
      [ngClass]="{
        'auto-clickers__clicker': true,
        '-unavailable': clicker.cost > clicks
      }"
  >
    <span class="auto-clickers__clickerInventory">{{clicker.inInventory}}</span>
    <h4 class="auto-clickers__clickerTitle"> {{ clicker | autoClickerUnlocker:clicks }} </h4>
    <span class="auto-clickers__clickerPrice kk-util_bold">Pris: {{clicker.cost}}</span>
    <div class="auto-clickers__clickerDesc">
      <p>{{clicker.clicksPerSec}}</p>
      <p>{{clicker.description}}</p>
    </div>
  </li>
</ul>
</div>
