@import '../../assets/scss/variables';
.auto-clickers {
    &__list {
        list-style: none;
        padding: 0;
        margin-top: 5rem;
    }
    &__clicker {
        position: relative;

        padding: 1.6rem 1.4rem 2.4rem;
        margin-bottom: 1rem;

        background: $blue;
        color: #FFFFFF;
        &.-unavailable {
            &:before {
                content: "";
                position: absolute;
                z-index: 1;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,0.6);
            }
        }

        &:not(.-unavailable) {
            cursor: pointer;
        }

        &Inventory {
            display: block;
            position: absolute;
            right: 1rem;
            top: 1rem;
            width: 40px;
            line-height: 40px;
            border-radius: 100%;

            background: $gold;
            color: $blue;
            text-align: center;
            font-size: 1.4rem;
            font-weight: bold;
        }

        &Title {
            text-transform: uppercase;
            font-weight: bold;
            color: $gold;
            letter-spacing: 1.2px;
            margin-bottom: 0;
        }

        &Desc {
            display: none;
            position: absolute;
            bottom: 70%;
            right: calc(100% + 30px);
            background: $gold;
            color: $blue;
            width: 400px;
            padding: 1rem 2rem;

            &:after {
                content: "";
                width: 20px;
                height: 20px;
                display: block;
                position: absolute;
                right: -20px;
                bottom: 0;
                border-left: 10px solid $gold;
                border-bottom: 10px solid $gold;
                border-right: 10px solid transparent;
                border-top: 10px solid transparent;
            }
        }

        &:not(.-unavailable):hover .auto-clickers__clickerDesc {
            display: block;
        }
    }
    
}