<div class="main-container">
    <app-alerts></app-alerts>
    <div class="kk-banner">
        <h4 class="kk-banner__text kk-util_ls kk-util_bold">KALJAKLICKER</h4>
    </div>
    <div class="kk-content">
        <div class="kk-content__inner">
            <owl-carousel [options]="carouselOptions">
                <div class="item kk-content__clicker">
                        <app-clicker [clicks]="clicks"
                                    [clicksPerSecond]="clicksPerSecond"
                                    (clickE)="addClick()">
                        </app-clicker>
                </div>
                <div class="item kk-content__shop">
                            <app-auto-clicker-shop [clicks]="clicks"
                                                    [clickers]="clickers"
                                                    (buyClickerE)="buyClicker($event)">
                            </app-auto-clicker-shop>
                </div>
            </owl-carousel>
        </div>
    </div>
</div>



